.kg-item{
  
}
.food-heading{
  color: brown;
  text-align: center;
}
.kg-span{
font-weight: 500;
color: crimson;
}
.button{
  color: green;
  float: right;
}
.Food-input{
  width: 100%;
  padding: 5px;
  margin: 10px ;
}